body{
    font-family: 'Montserrat', sans-serif;
    width: 1000px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(182, 231, 255);
    color: black;

}
ul {
    list-style-type: none;
}
  
ul li {
    float: right;
}

ol li {
    float: right;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    color: rgb(99, 71, 155);
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(99, 71, 155);
}

.overHead{
    width: 100%;
    height: 50px;
    /*background-color: aquamarine;*/
    border-radius: 50px;   
    margin-left:35%;

}

.telf{
    width: 500px;
    line-height: 50px;
    margin-left: 15px;
}

.spamer{
    margin-top: -65px;
   /* margin-left: 40%;*/
    margin-right: 45%;
}

.ubi{
    float: right;
    margin-right: -580px;
    margin-top: -0px;
}

.header{
      width: 100%;
      height: 80px;
      background-color: rgb(182, 213, 255);
      border-radius: 25px;
      margin-left:35%;
}

.loguito img{
	width: 	150px;
    height: 80px;
	max-height: 	200px;
	max-width: 	100%;

}

.menu{
	margin-top: -85px;
}

.galeri{
    /*background-color: rgb(209, 201, 216);*/
    margin-top: 5px;
    height:380px;
    margin-left:33%;

}

.galeri img{
	width: 	100%;
	max-height: 	380px;
	max-width: 640px;
    margin-left: 31%;
}

.listaEspera{
    background-color: rgb(255, 45, 255);
    height: 300px;
    width: 100%;
    margin-bottom: 120px;
    margin-left:35%;
}

.footer{
    background-color: rgb(68, 87, 96);
    border-radius: 10px;
    margin-left:35%;
    width: 100%;
    height: 80px;
    border: 2px solid rgb(237, 249, 255);
    color: rgb(209, 240, 255);
}
.footer li a{
    color: rgb(209, 240, 255);
}

.footer li a:hover{
    color: rgb(224, 182, 255);
}

.footerMenu{
    margin-top: -70px;
}

.subfooter{
    margin-top: 10px;
    margin-left:45%;
    width: 100%;

}

.subfooter ul {
    text-align: center;
    float: left;
}

.subfooter li  {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.subfooter li a:hover{
    color: rgb(99, 71, 155);
}

/*Contacto*/
.contactoGeneral{
    /*background-color: orange;*/
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35%;
    padding: 20px;
    width: 95%;
    border: 1px solid black;
}

.contactoMap{
    margin-left:35%;
    margin-bottom: 10px;
}

/*Botones Pedir cita*/

.btn-pedir-cita-menu{
    border: 1px solid rgb(99, 71, 155);

}

.btn-pedir-cita2{
    border: 1px solid rgb(99, 71, 155);
    float: left;
    width: 8.5%;
    margin-left: 78%;
    margin-top: -5%;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    
}

.btn-pedir-cita2:hover{
    background-color: rgb(99, 71, 155);
    color:rgb(209, 240, 255) ;
}

/*Nuestro Centro*/
.galeriNuestroCentro{
    margin-top: 20px;
    height:600px;
    width: 100%;
    margin-left: 35%;
    
}

.galeriNuestroCentro img{
    width: 	100%;
	max-height: 100%;
	max-width:100%;
    
}

.nueCen{
    margin-top: -175px;
    color: aliceblue;
    margin-left: 10px;
    font-size: 20px;
}

.nuestroTexto{
    height: 950px;
    background-color: white;
    padding: 10px;
    width: 98%;
    margin-left: 35%;
    
    margin-bottom: 20px;
}

/* ESPECIALIDADES */
.galeriEspec{
    margin-top: 10px;
}

.galeriEspec img{
	max-height: 350;
	max-width: 1000px;
    margin-left: 35%;
}

/*IDENTIFICAR*/
.identifier{
    background-color: rgb(195, 255, 182);
    height: 250px;
    width: 60%;
    padding-left: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -300px;
    margin-bottom: 20px;
    margin-left:37%;
    z-index: 3;

}

.botoncin{
    background-color: rgb(255, 206, 182);
    border-radius: 25px;
    width: 185px;
    height: 100px;
    text-align: center;
    line-height: 100px ;
    z-index: 50;
}

.identifier a:hover{
    color: grey;
}

.galeriLog{
    margin-top: 5px;
    margin-left:47%;
    z-index: 1;
}

.galeriLog img{
	max-height: 760px;
	max-width: 1280px;
    
}

/*REGISTRARSE*/
.register{
    background-color: rgb(195, 255, 182);
    height: 450px;
    width: 40%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left:65%;
    border: 2px solid black;
}