body{
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin-left: 10%;
}

ul {
    list-style-type: none;
}
  
ul li {
    float: right;
}
  
li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.main-content{
    margin-top: 40px;
}

/*nav bar*/
.navPanel{
    font-size: larger;
    border: 2px solid rgb(58, 197, 181);
    height: 80px;
}

.navPanel a{
    padding: 10px;
}

.loguito img{
    position: relative;
	width: 	150px;
    height: 80px;
	max-height: 	200px;
	max-width: 	100%;
}

.menu{
    position: relative;
	margin-top: -85px;
    margin-right: 50px;

}

.menu li ul{
    display: none;
    position: absolute;
    
}
.menu li:hover > ul{
    display: block;
    margin-left: 53px;
    background-color: white;
    width: 160px;
}

.cajaMenu{
    margin-left: 50px;
    width: 200px;
    border-right: 1px solid rgb(58, 197, 181);
    

}

.cajaMenu:hover{
    border: 2px solid rgb(58, 197, 181);
    background-color: white;
    
    
}

.cajaMenu a{
    color: black;
}

.cajaMenu a:hover{
    color: rgb(58, 197, 181);
    font-weight:bold;

}


/*Resto de contenido en indexDr*/
.nombreOriginal{
    margin-top: 40px;
    background-color: white;
    height: 600px;
}

.consultasOverView{
    background-color: yellowgreen;
    width: 65%;
    display: inline-block;
    height: 100%;
    border: 4px solid rgb(58, 197, 181);
}

.contenedorSecundario{
    background-color: red;
    float: right;
    width: 33.95%;
    height: 100%;
    border: 4px solid rgb(58, 197, 181);

}



/*esto es diferente?*/
.formularioVisitas{
    font-size: larger;
    position: relative;
    width: 60%;
    height: 600px;
    display: inline-block;
    border: 5px solid rgb(58, 197, 181);

}

.cajaNota{
    margin-top: 25px;
    width: 82%;
    margin-left: 9%;
    float: left;
}

.btn-notas{
    margin-top: 300px;
    margin-left: -52%;
    height:50px;
    width:200px;
}
.cajaInfoVist{
    text-align: center;
}

/*visitas una a una resumidas, donde se ven las citas*/
.cont-visitas{
    overflow:scroll;
    height:400px;
    width: 38.65%;
    float: right;
    height: 600px;
    border: 5px solid rgb(58, 197, 181);

}

.visita{
    width: 95.5%;
    padding: 10px;
    border: 2px solid #c53a4a;
    
    
}

.cita-n{
    display: inline-block;
}

.fech-n{
    margin-left: 100px;
    display: inline-block;
}

.edit-n{
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.info-n{
    margin-top: 10px;
    display: inline-block;
}

.dlte-n{
    display: inline-block;
    margin-top: 10px;
    float: right;
    margin-right: -65px;
}

/*Perfil del doctor*/
.miCuentaContainer{
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    height: 600px;
    padding-top: 10px
    
}

.cuentaDetalls{
    background-color: rgb(58, 197, 181);
    width: 30%;
    margin-left: 35%;
    padding: 10px;
    border: 2px solid #c53a4a;
}

.btn-cerrarS{
    width: 20%;
    margin-left: 40%;
    margin-top: 50px;
    height: 80px;
    color: black;
    text-align: center;
    font-size: x-large;
    border: 3px solid rgb(58, 197, 181);
}

.btn-cerrarS:hover{
    border: 3px solid #c53a4a;
    background-color: rgb(58, 197, 181);
    color: white;
}
